{{>layouts/header}}
<!-- Swiper -->
{{#note}}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">

        {{#wordList}}
      <div class="swiper-slide">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 word-body">
                <input type="hidden" class="data-word-id" value="{{id}}">
                <h1 class="display-5 fw-bold">단어: {{name}}</h1>
                <h7 class="display-7 text-muted">틀린횟수: {{fail_count}}</h7>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">의미: </span>
                    <input type="text" class="form-control data-word-mean" placeholder="정답을 입력하세요." aria-label="mean" id="mean" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-primary next-swiper" value="{{name}}">다음</button>
                <button class="btn btn-outline-danger" onclick="location.href='/note/{{id}}';">나가기</button>
            </div>
        </div>
      </div>
        {{/wordList}}

        <div class="swiper-slide">
            <div class="px-4 py-5 my-5 text-center">
                <i class="bi bi-award" style="font-size: 6em;"></i>
                <h1 class="display-5 fw-bold">문제 풀이 완료!</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">수고하셨습니다. 모든 문제를 다 푸셨습니다. 지금 바로 정답을 체크해보세요!</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" class="btn btn-primary btn-lg px-4 gap-3 final-btn">정답 확인</button>
                        <button type="button" class="btn btn-outline-danger btn-lg px-4" onclick="location.href='/note/{{id}}';">나가기</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{/note}}
<script>
    var swiper = new Swiper(".mySwiper", {
        cssMode: false,
        navigation: {
            nextEl: '.next-swiper',
        },
        allowTouchMove: false,
        speed: 800,
        mousewheel: false,
        keyboard: false,
    });


</script>

<script>
    var words = [];

    $('.next-swiper').on('click', function () {
        var thisCard = $(this).closest('.word-body');
        const word = {
            id: thisCard.find('.data-word-id').val(),
            name: $(this).val(),
            mean: thisCard.find('.data-word-mean').val()
        };
        words.push(word);
    });

    $('.final-btn').on('click', function () {
        const fwords = [];
        const url = "/api/" + {{note.id}} + "/test";
        let msg = null;
        fetch(url, {
            method: "post",
            body: JSON.stringify(words),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(response =>  response.json())
              .then(data => data.forEach((value) => {
                fwords.push("[틀린 문제]: " + value.name + ", [의미]: " + value.mean + "\n");
                  })).then(data => {(console.log(data))
            if (fwords.length == 0) {

                alert("축하합니다! 백점입니다.");
                window.location.href = "/note/{{note.id}}"
            } else {
                alert(fwords);
                window.location.href = "/note/{{note.id}}"
            }}
        );

    });
</script>

{{>layouts/footer}}