body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  background-image: url("/img/야너두2.jpeg");
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}


.redirect-tag {
  text-align: center;
}

a {
  text-decoration: none;
  color: red !important
}
