body {
  height: 100vh;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.08),
          rgba(0, 0, 0, 0.08)
  ), url("/img/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}


.redirect-tag {
  text-align: center;
}

